.twitch {
    background-image: url("../images/twitchFull.png");
    background-size: 96.23px 38px;
    /* background-repeat: no-repeat; */
}

.youtube {
    background-image: url("../images/ytFull.jpg");
    background-size: 96.23px 38px;
    /* background-repeat: no-repeat; */
}

.socialBtn {
    width: 96.23px;
    height: 38px;
}

iframe,
img {
    height: 74vh;
    width: 100%;
    border: 2px solid white;
}

#hi8 {
    height: 6.75vh;
    width: 100%;
    overflow: hidden;
}

.container {
    width: 100vw;
}

body {
    overflow: hidden;
    background: #0b0c10;
}

.slick-active {
    background: white;
}

#slick-slide-control00,
#slick-slide-control01,
#slick-slide-control02,
#slick-slide-control03,
#slick-slide-control04 {
    background: white;
    color: green;
}

button {
    color: green;
}

.carousel-inner,
#picsBTN,
#youtubeBTN,
#twitchBTN {
    visibility: hidden;
}

.slick-prev {
    position: absolute;
    left: 0;
    z-index: 5;
    padding: 10vw 15vw 10vw 0vw;
    width: unset;

}

.slick-next {
    position: absolute;
    right: 0;
    z-index: 5;
    padding: 10vw 0vw 10vw 15vw;
    width: unset;
}

#VGHlogo {
    background: url(../images/VGHypemanLogo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 25vw;
    height: 100%;
}

#VGHlogoMobile {
    background: url(../images/VGHMobileColor.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 17.5vw;
    height: 100%;
}

#game-entry {
    color: white;
}

span {
    color: #ffffff;

}

.game-name {
    text-align: center;
    color: #ffffff;
}


.game-title {
    text-align: left;
    color: black;
}

.icon-color {
    color: #66FCF1;
}

#game-modal {
    visibility: hidden;
}

#gameNameTitle {
    font-size: 1.75em;
}

#gameNameModal {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

@media screen and (max-width:600px) {
    #gameNameTitle {
        font-size: 0.9em;
    }

    .material-icons {
        font-size: 1.25rem;
    }
}